body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e6c3e6;
}

.calcul {
    background-color: #f8f8f8;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    max-width: 320px;
}

.display {
    background: #e8f3f3;
    border-radius: 20px;
    padding: 1rem;
    font-size: 2rem;
    text-align: right;
    color: black;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.7rem;
}

button {
    background: #e8f3f3;
    border: none;
    border-radius: 40% 40%;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    box-shadow: 4px 4px 10px #ccc, -4px -4px 10px #fff;
    transition: all 0.2s, transform 0.1s;
    cursor: pointer;
}

button:hover {
    background-color: #e8f3f3;
    transform: scale(1.05);
}

button:active {
    box-shadow: inset 2px 2px 6px #bbb, inset -2px -2px 6px #fff;
    transform: scale(0.95);
}

.egal{
    border-radius: 10%;
    grid-column: span 2;
    border: 30px;
    background: pink;
    color: white;
}

@media (max-width: 400px){
    button{
        font-size: 1rem;
        padding: 0.8rem;
    }
}